@charset "UTF-8";
@font-face {
  font-family: light;
src: url("fonts/OpenSans-Light.woff") format("woff"); }
@font-face {
  font-family: regular;
src: url("fonts/OpenSans-Regular.woff") format("woff"); }
@font-face {
  font-family: medium;
src: url("fonts/OpenSans-Semibold.woff") format("woff"); }
@font-face {
  font-family: bold;
src: url("fonts/OpenSans-Bold.woff") format("woff"); }

body, html {
  font-family: light;
  font-weight: normal;
  /*! font-size: larger; */
  margin: 0px;
  padding: 4%;
  background-color: #111;
  color: #888;
  line-height: 175%;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

a, h2 {
  color: #ccc;
}
h2 {
  clear: both;
}

#logo {
  padding-bottom: 55px;
  text-align: center;
}
#logo img {
  max-width: 80%;
}
#portrait {
  float:left;
  margin-right: 40px;
  margin-bottom: 40px;
  width: 50%;
}

#portrait img {
  width: 100%;
}

@media all and (min-width: 0px) and (max-width: 550px) {
  #portrait {
    float:none;
    width:100%;
  }
}

.bandcamp {
  padding: 50px 0px;
  max-width: 710px;
  margin: 0 auto;
  font-size:120%
}
td {
  vertical-align: top;
  font-size: larger;
  width: 50%;
}
td + td {
  padding-left: 50px;
}
table {
  margin-top: 50px;
  border-collapse: collapse;
}
#mce-EMAIL {
  height: 24px;
  background-color:#333;
  color:white;
  border: 1px solid #666;
  padding: 4px;
  margin:0px 10px;
  border-radius:3px;
}
#mc-embedded-subscribe {
  height: 24px;
  background-color: #DDD;
  border-radius:3px;
}
